<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Englearn"
        android:allowBackup="true"
        android:icon="@mipmap/englearn"
        android:roundIcon="@mipmap/englearn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.DarkDay">

        <activity android:name="com.example.englearn.PolishEnglishActivity" />
        <activity android:name="com.example.englearn.EnglishPolishActivity" />
        <activity android:name="com.example.englearn.AddActivity" />
        <activity android:name="com.example.englearn.LearnActivity" />
        <activity android:name="com.example.englearn.AboutActivity" />
        <activity android:name="com.example.englearn.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>